body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

ul li a {
  margin: 10px 20px 10px 0px;
  text-decoration: none;
}

#carrito {
  height: 60px;
  margin-left: 10px;
}

#root div div {
  text-align: center;
}

#pie-de-pagina {
  position: fixed;
  bottom: 0;
  margin-left: 400px;
}
.card-img-top
{
  height:100px;
  width:100px;
  align-self: center;
}